.contact-wrapper{
    background-image: url('../../Assets/Images/Home/background.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
    height: 80vh;
    padding-top: 40px;
    padding-bottom: 100px;

    h1,p{
        margin: 0;
    }

    .contact-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        .contact-head-title{
            h1{
                font-weight: 500;
                letter-spacing: 6px;
                padding-bottom: 30px;
            }
        }

        .contact-head-divisor{
            height: 4px;
            width: 300px;
            background-color: rgb(109, 109, 109);
            border-radius: 2px;
            margin-bottom: 30px;
        }

        .contact-head-desc{
            p{
                letter-spacing: 2px;
                line-height: 1.4;
            }
        }
    }

    .contact-form{
        display: flex;
        background-color: rgb(122, 122, 122);
        margin: 0 auto;
        width: 50%;
        padding: 20px;
        border-radius: 10px;

        form{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            
            .contact-form-field{
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;

                label{
                    margin-bottom: 5px;
                    letter-spacing: 2px;
                    font-weight: 500;
                    font-size: large;
                }

                input{
                    height: 30px;
                    letter-spacing: 2px;
                    font-family: inherit;
                    border-radius: 5px;
                    padding: 2px;
                }

                textarea{
                    letter-spacing: 2px;
                    font-family: inherit;
                    font-size: 15px;
                    resize: none;
                    border-radius: 5px;
                    padding: 2px;
                }
            }

            .contact-form-button{
                width: 100%;
                display: flex;
                align-items: end;
                justify-content: right;
                padding-top: 10px;
                padding-bottom: 10px;

                button{
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    text-decoration: none;
    
                    p{
                        margin: 0;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 18px;
                        letter-spacing: 6px;
                        color: white;
                        background-color: black;
                        border: none;
                    }
    
    
                    p:hover{
                        transition: all 1s ease;
                        transform: scale(1.1);
                        background-color: darkgray;
                        color: black;
                        border-radius: 20px;
                        cursor: pointer;
                    }
    
                    p:not(:hover){
                        transition: all 2s ease;
                    }
                }
    
                button:hover{
                    transition: all 1s ease;
                    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.6);
                    margin: none;
                }
    
                button:not(:hover){
                    transition: all 2s ease;
                    margin: none;
                }
            }
        }
    }
}